<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Language" content="pt-br">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Vagalumes na Trilha{% endblock %}</title>

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <div class="d-none d-sm-block">
                    <img id="logo-vnt" class="img-fluid" src="{{ asset('img/vagalumes-na-trilha.png') }}"
                         alt="Logotipo - Vagalumes na Trilha"/>
                </div>
                <div class="d-block d-sm-none">
                    <img id="logo-vnt" class="img-fluid" src="{{ asset('img/vagalumes-na-trilha-vagalume.png') }}"
                         alt="Logotipo - Vagalumes na Trilha"/>
                    <img id="logo-vnt" class="img-fluid" src="{{ asset('img/vagalumes-na-trilha-letras.png') }}"
                         alt="Logotipo - Vagalumes na Trilha"/>
                </div>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Inicial</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">O nome</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">A equipe</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Os eventos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Roteiros possíveis</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div id="conteudo">
{% block body %}{% endblock %}
</div>
<footer>
    <div id="rodape">
        <ul class="nav justify-content-center ">
            <li class="nav-item m-3">
                <i class="bi bi-instagram"></i>
                <a class="link-dark" href="https://www.instagram.com/vagalumesnatrilha/" alt="Instagram">@vagalumesnatrilha</a>
            </li>
            <li class="nav-item m-3">
                <i class="bi bi-youtube"></i>
                <a class="link-dark" href="https://www.youtube.com/channel/UCcYDe11ZkL0fzG0L4556LoQ" alt="Youtube">/vagalumesnatrilha</a>
            </li>
        </ul>
        <p id="creditos">
            Desenvolvido por <i class="bi-github" role="img" aria-label="GitHub"></i>
            <a class="link-dark" href="https://github.com/danielfleck/">Daniel Rodrigo Fleck</a>
        </p>
    </div>
</footer>


{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
